*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(43, 69, 185);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
	overflow: hidden;
}

.card img {
	width: 500px;
	height: auto;
}

.card-description {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}